@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// Font family variables
$font-family-inter: 'Inter', sans-serif;

// Font size variables
$font-size-sm: 12px;
$font-size-lg: 14px;
$font-size-xl: 24px;
$font-size-xxl: 32px;

// Font weight variables
$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;

// Line height variables
$line-height-sm: 18px;
$line-height-lg: 20px;
$line-height-xl: 36px;