//colors
$coastal-breeze: #e3f5ff;
$coconut-white: #e5ecf6;
$catskill-white:#f7f9fb;
$eerie-black: #1c1c1c;
$eerie-black-40: rgba(28, 28, 28, 0.4);
$eerie-black-20: rgba(28, 28, 28, 0.2);
$eerie-black-5: rgba(28, 28, 28, 0.05)