@use '../base/variables' as *;
@use '../base/typography' as *;
@use '../base/mixins' as *;

.chart-widget {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 16px;
  background-color: $catskill-white;
  color: $eerie-black;
}