@use '../base/variables' as *;
@use '../base/typography' as *;
@use '../base/mixins' as *;

.notification{
  display: flex;
  gap:8px;
  padding: 8px;
  border-radius: 12px;
  position: relative;

  &:hover{
    background-color: $eerie-black-5;
  }

  &__avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
  }

  &__info{
    &-text{
      @include text-style($font-size-lg, $font-weight-light, $line-height-sm);
      color:$eerie-black;
    }
    &-date{
      @include text-style($font-size-sm, $font-weight-light, $line-height-sm);
      color:$eerie-black-40;
    }
  }
}