@use '../base/variables' as *;
@use '../base/typography' as *;
@use '../base/mixins' as *;

.rightbar{
  border-left: 1px solid $eerie-black-10;
  height: 100vh;
  overflow-y: scroll;

  &__notification{

    &-item:not(:last-child) .notification__avatar--timeline::after {
      content: "";
        display: block;
        width: 1px;
        height: 18px;
        border-radius: 80px;
        background-color: $eerie-black-10;
    }
  }
}