@use '../base/variables' as *;
@use '../base/typography' as *;
@use '../base/mixins' as *;

.rightbar{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-left: 1px solid $eerie-black-10;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: scroll;

  &__notification{
    display: flex;
    flex-direction: column;
    gap: 4px;

    &-title{
      @include text-style($font-size-lg, $font-weight-light, $line-height-lg);
      color:$eerie-black;
      padding: 8px 4px;
    }
  }

  &__activities{
    display: flex;
    flex-direction: column;
    gap: 4px;

    &-title{
      @include text-style($font-size-lg, $font-weight-light, $line-height-lg);
      color:$eerie-black;
      padding: 8px 4px;
    }
  }

  &__contacts{
    display: flex;
    flex-direction: column;
    gap: 4px;

    &-title{
      @include text-style($font-size-lg, $font-weight-light, $line-height-lg);
      color:$eerie-black;
      padding: 8px 4px;
    }
  }
  
}