@use '../base/variables' as *;
@use '../base/typography' as *;
@use '../base/mixins' as *;

.sidebar{
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border-right: 1px solid $eerie-black-10;
  height: 100vh;
  @include text-style($font-size-lg, $font-weight-light, $line-height-lg);
  color: $eerie-black;
  position: sticky;
  top: 0;
  overflow-y: scroll;

  &__header{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 8px 12px 8px;
    border-radius: 12px;
  }

  &__pages{
    @include flex(column);
    gap: 4px;
    padding: 0px 0px 12px 0px;

    &-title{
      color: $eerie-black-40;
      padding: 4px 8px;
    }
  }

  &__dashboards{
    @include flex(column);
    gap: 4px;
    padding: 0px 0px 12px 0px;

    &-title{
      color: $eerie-black-40;
      padding: 4px 8px;
    }
  }
}