@use '../base/variables' as *;
@use '../base/typography' as *;
@use '../base/mixins' as *;

.sidebar{
  border-right: 1px solid $eerie-black-10;
  height: 100vh;
  overflow-y: scroll;

  &__links{
    &-item{
      
      &:hover {
        transition: all 0.3s;
        background-color: $eerie-black-5;
      }

      &--active {
        background-color: $eerie-black-5;
      }
    }
  }
}